Django==1.8.19
lxml>=2.3.5
requests>=1.0.0
requests-cache
djangosaml2==0.17.2
django-pagination>=1.0.7
django-chartit
setuptools-rust
python-memcached>=1.48
simplejson
django-silk
pyff
slackclient
pyvirtualdisplay
selenium
numpy
psycopg2==2.8.6
slackclient
Pillow
