
{% load i18n metadataparsertags %}

{% if show_filters %}
{% entity_filters entities categories %}
{% endif %}

{% export_menu entities append_query=append_query onclick=onclick_export %}
{% if show_total %}
<p class="total"><strong>{% trans "Total" %}:</strong> {{ pagination.num_objects }}</p>
{% endif %}

{% if enable_filters %}
<p class="text-muted">
{% blocktrans %}
Remember that one entity can be IDP and SP at the same time, so the addition
of IDP and SP can be bigger than the number of entities
{% endblocktrans %}
</p>
{% endif %}

{% if pagination %}
<div class="pagination" align=center>
    <ul>
        <li class="{% if pagination.cur_page_number == 1 %}active{% endif %}"><a {% if onclick_page %}onclick="return {{ onclick_page }}(1)"{% endif %} href="{% add_get page=1 %}">&laquo;</a></li>

        {% for page in pagination.page_range %}
            {% if forloop.first and page != 1 %}
                <li><a href="#">...</a></li>
            {% endif %}

            <li class="{% if pagination.cur_page_number == page %}active{% endif %}"><a {% if onclick_page %}onclick="return {{ onclick_page }}({{ page }})"{% endif %} href="{% add_get page=page %}">{{ page }}</a></li>

            {% if forloop.last and page != pagination.num_pages %}
                <li><a href="#">...</a></li>
            {% endif %}
        {% endfor %}

        <li class="{% if pagination.cur_page_number == pagination.num_pages %}active{% endif %}"><a {% if onclick_page %}onclick="return {{ onclick_page }}({{ pagination.num_pages }})"{% endif %} href="{% add_get page=pagination.num_pages %}">&raquo;</a></li>
    </ul>
</div>
{% endif %}

<div id="tablepress-3_wrapper" class="dataTable_wrapper no footer">
	<div class="table-responsive">
		<table id="tablepress-3" class="tablepress tablepress-id-3 dataTable no-footer" role="grid" aria-describedby="tablepress-3_info">
		  <thead>
			<tr class="row-1" role="row">
			  <th class="column-1-head sorting" tabindex="0" aria-controls="tablepress-3" rowspan="1" colspan="1" aria-label="Entity ID: activate to sort column ascending" ><strong class="tabella">EntityID</strong></th>
			  <th class="column-2-head sorting" tabindex="0" aria-controls="tablepress-3" rowspan="1" colspan="1" aria-label="Type: activate to sort column ascending"><strong class="tabella">Type</strong></th>
			  <th class="column-3-head sorting" tabindex="0" aria-controls="tablepress-3" rowspan="1" colspan="1" aria-label="Display Name: activate to sort column ascending" nowrap><strong class="tabella">Display Name</strong></th>
			  <th class="column-4-head sorting" tabindex="0" aria-controls="tablepress-3" rowspan="1" colspan="1" aria-label="Federations: activate to sort column ascending" ><strong class="tabella">Federations</strong></th>
			  <th class="column-5-head sorting" tabindex="0" aria-controls="tablepress-3" rowspan="1" colspan="1" aria-label="Number of Federations: activate to sort column ascending" nowrap><strong class="tabella">Number of Federations</strong></th>
			</tr>
		  </thead>
		  <tbody class="row-hover">
		  {% for entity in entities %}
		  <tr>
			<td class="column-1">
			  <a class="tronca" title="{{ entity.entityid }}"
				 href="{{ entity.absolute_url }}{% if curfed %}?federation={{ curfed.slug }}{% endif %}">{{ entity.entityid|wrap:50 }}</a>
			</td>
			<td class="column-2">
			  {{ entity.types|display_etype }}
			</td>
			<td class="column-3">
			  {% l10n_property entity.name lang %}
			</td>
			<td class="column-4">
				<div class="btn-group-fed">
					<a  class="btn-federations dropdown-toggle" data-toggle="dropdown" href="#">{{ entity.federations|length }} federations</a>
					<ul class="dropdown-menu-fed">
						{% for federation in entity.federations %}
						<li class="federations_name"><a href="{{ federation.1 }}">{{ federation.0 }}</a></li> 
						{% endfor %}
					</ul>
			</td>
			<td class="column-5">
			{{ entity.federations|length }}
			</td>
		  </tr>
		  {% endfor %}
		  </tbody>
		</table>
	</div>
</div>

{% if pagination %}
<div class="pagination" align=center>
    <ul>
        <li class="{% if pagination.cur_page_number == 1 %}active{% endif %}"><a {% if onclick_page %}onclick="return {{ onclick_page }}(1)"{% endif %} href="{% add_get page=1 %}">&laquo;</a></li>

        {% for page in pagination.page_range %}
            {% if forloop.first and page != 1 %}
                <li><a href="#">...</a></li>
            {% endif %}

            <li class="{% if pagination.cur_page_number == page %}active{% endif %}"><a {% if onclick_page %}onclick="return {{ onclick_page }}({{ page }})"{% endif %} href="{% add_get page=page %}">{{ page }}</a></li>

            {% if forloop.last and page != pagination.num_pages %}
                <li><a href="#">...</a></li>
            {% endif %}
        {% endfor %}

        <li class="{% if pagination.cur_page_number == pagination.num_pages %}active{% endif %}"><a {% if onclick_page %}onclick="return {{ onclick_page }}({{ pagination.num_pages }})"{% endif %} href="{% add_get page=pagination.num_pages %}">&raquo;</a></li>
    </ul>
</div>
{% endif %}

